


<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Capital</th>
        <th scope="col">Populacion</th>
        <th scope="col">Bandera</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pais of paises" (click)="verDetalles(pais)" >
        <th>{{pais.name}}</th>
        <th>{{pais.capital}}</th>
        <th>{{pais.population}}</th>
        <td> <img [src]="pais.flag" width="80px" > </td>
      </tr>
    </tbody>
  </table>